.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.pad {
    margin-left: 300pt;
}
.pad2 {
    margin-left: 310pt;
}
.pad3 {
    margin-left: 296pt
}
.days {
    margin-left: 45pt;
}
.white {
    background-color: white;
}
.blue {
    background-color: turquoise;
}
.period {
    display: inline-block;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
.in {
    display: inline-block;
    margin-top: 0pt;
}
.tahi {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.rua {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 23pt;
}
.toru {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 28pt;
}
.wha {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24pt;
}
.rima {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25pt;
}
.ono {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20pt;
}
button {
    margin-bottom: 20pt;
}
.down {
    margin-bottom: 10pt;
}