.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.timetablecon {
    height: 22px;
    width: 530px;
}
.ponepix {
    margin-right: 1pt;
}
plonepix {
    margin-left: 1px;
}
.monepix {
    margin-left: -1pt;
}
.mronepix {
    margin-right: -1px;
}
body {
    background-image: url('img/background.png');
    background-size: cover;
    font-family: sans-serif;
}
.bottomleft {
    position: fixed;
    bottom: 0;
    left: 0;
}
.bluetext {
    color: blue;
}
.pad {
    margin-left: 300pt;
}
.pad2 {
    margin-left: 310pt;
}
.pad3 {
    margin-left: 303pt;
}
.white {
    background-color: white;
    border-left: 3px;
    border-right: 3px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
}
.blue {
    background-color: turquoise;
    border-left: 3px;
    border-right: 3px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
}
.top {
    border-left: 3px;
    border-right: 3px;
    border-top: 3px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
}
.bottom {
    border-left: 3px;
    border-right: 3px;
    border-top: 0px;
    border-bottom: 3px;
    border-color: black;
    border-style: solid;
}
.period {
    display: inline-block;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
.in {
    display: inline-block;
    margin-top: 0pt;
}
.increse {
    margin-left: 3pt
}
.tahi {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3%;
    margin-left: 3%
}
.rua {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 2%;
}
.toru {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 3%;
}
.wha {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 3%;
}
.rima {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 3%;
}
.ono {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 4%;
}
button {
    margin-bottom: 20pt;
}
.down {
    margin-bottom: 10pt;
    margin-top: 0pt;
}
a {
    font-size: 13pt;
}
input {
    text-align: center;
}
.yellow {
    background-color: yellow;
}
.notices {
    margin-left: 10px;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: turquoise;
    color: black;
}
.nobutton {
    border: none;
    background: none;
    height: 10px;
}
.font {
    font-family: sans-serif;
}
.help {
    background-color: black;
    color: white;
    width: 500px;
}
.menu {
    height: 30px;
}
.colorbutton {
    height: 20px;
}
.right {
    float: right;
}
.savebutton {
    width: 50px;
}
.colorbuttons {
    background-color: white;
    width: 510px;
    height: 45px;
}
.halfbutton {
    margin: none;
    border: 5px;
    border-color: black;
    background-color: none;
    padding-bottom: none;
}
.timetable {
    color: black;
}